body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-image: url('bg.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  padding: 0.1% 0;
}

h1 {
  color: #333;
  text-align: center;
}

form {
  max-width: 400px;
  margin: 20px auto;
  padding: 20px;
  background-color: #fff;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

label {
  display: block;
  margin-bottom: 10px;
  color: #555;
}

.container {
  max-width: 500px;
  margin: 0 auto;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: #f8f9fa;
}

h1 {
  color: #333;
}

.mt-5{
  background: linear-gradient(
    90deg,
    rgba(62, 144, 206, 0.555) 0%,
    rgba(67, 149, 197, 0.477) 53%,
    rgba(7, 170, 245, 0.286) 100%
  );
}
.form-label {
  font-weight: bold;
}

.btn-primary {
  background-color: #007bff;
  border-color: #007bff;
}

.btn-primary:hover {
  background-color: #0069d9;
  border-color: #0062cc;
}

.btn-primary:focus,
.btn-primary.focus {
  box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.5);
}